.search{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
    h1{
        font: 35px/1 $font2;
    }
    .inner{
        max-width: 1200px;
        margin: 0 auto;

        border: 2px solid #000;
        background-color: #fff;
        padding: 20px;
        
        table{
            width: 100%;
            tr{
                display: block;
                margin: 40px;
                th{
                    text-align: left;
                    width: 200px;
                    font: 20px/1 $font2;
                }
                td{
                    display: flex;
                    justify-content: space-around;
                    text-align: center;
                    margin-top: 20px;
          
                    >div{
                        display: flex;
                        justify-content: start;
                        label{
                        font: 14px/1 $font1;
                        margin: 0;
                        }
                        input{
                            width: 14px;
                        }
                    }
                }
            }
        }
        .slideBox{
            margin: 0 auto;
            width: 50%;
        }
        .drop{
            margin: 0 auto;
            display: flex;
            width: 50%;
            justify-content: center;
            padding: 50px 0;
            gap: 10px;
        .dropBox{
            width: 100%;

            select{
                option{
                    font: 14px/1 $font1;
                }
                
            }
           
        }
        .sortOption{
            display: flex;
            justify-content: space-around;
            width: 50%;
            gap: 10px;
            div{
                display: flex;
                
                label{
                    font: 14px/61px $font1;
                    margin: 0;
                    }
                    input{
                        width: 14px;
                    }
            }
        }
        }
        button{
            margin: 0 auto;
            width: 10%;
        }
    }   
}